#historia{
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
}

#historia p{
    background: none;
    margin-bottom: 20px;
}

p{
    font-family: helvetica, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 35px;
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0px;
}

#titulo-historia{
    width: 920px;
    height: 200px;
    background-color: darkgreen;

    display: flex;
    justify-content: center; 
    align-items: center;     

    margin:10px auto;       
}

#titulo-historia h3{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
}